.custom {
    margin: auto;
    position: relative;
}
.circle {
    position: fixed;
    z-index: -1;
    top: -550px;
    left: 0px;
    height: 700px;
    width: 700px;
    border-radius: 50%;
    background: rgba(19, 224, 223, 0.4);
}
.circle2 {
    position: fixed;
    z-index: -1;
    top: -150px;
    left: -350px;
    height: 700px;
    width: 700px;
    border-radius: 50%;
    background: rgba(245, 246, 33, 0.2);
}
.circle3 {
    position: fixed;
    z-index: -1;
    top: 350px;
    right: 25%;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: rgba(5, 255, 33, 0.3);
}
.circle4 {
    position: fixed;
    z-index: -1;
    top: 450px;
    left: 40%;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background: rgba(218, 20, 219, 0.4);
}
.circle5 {
    position: fixed;
    z-index: -1;
    top: 0px;
    right: -150px;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background: rgba(255, 0, 0, 0.4);
}
#navbar {
    font-size: 18px;
    z-index: 5;
    height: 70px;
}
.nav-link {
    text-shadow: 0 0 10px #fff;
    color: #000000 !important;
    font-weight: 700;
}
